
venv/
.venv/


__pycache__/
*.pyc


.env


.ipynb_checkpoints/

Base_de_Dados/

.vscode/
.DS_Store

Agregados_por_setores_basico_BR.csv
Agregados_por_setores_demografia_BR.csv
Agregados_por_setores_renda_responsavel_BR.csv